@model SalonSpaBooking.Entities.ServicesPlan
@{
    ViewData["Title"] = "Details";
}
<div class="card" style="width:100%; margin-top:10px;">
    <div class="card-header bg-dark text-white">
        <h5>Service Plan Details</h5>
    </div>
    <div class="card-body">
        <table class="table table-borderless">
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(m => m.PlanName)</b>
                </td>
                <td>@Html.DisplayFor(m => m.PlanName)</td>
                <td>
                    <b>@Html.DisplayNameFor(m => m.Title)</b>
                </td>
                <td>@Html.DisplayFor(m => m.Title)</td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(m => m.Description)</b>
                </td>
                <td>@Html.DisplayFor(m => m.Description)</td>
                <td>
                    <b>@Html.DisplayNameFor(m => m.Price)</b>
                </td>
                <td>@Html.DisplayFor(m => m.Price)</td>
            </tr>
        </table>
        <p>
            @Html.ActionLink("Back to List", "Index", "Home", new { @class = "btn btn-primary" })
        </p>
    </div>
</div>